@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Aurelia Knowabunga</title>
    <link href="~/AureliaApp/jspm_packages/github/twbs/bootstrap@3.3.5/css/bootstrap.css" rel="stylesheet" />
</head>
<body aurelia-app>

    <script src="~/AureliaApp/jspm_packages/system.js"></script>
    <script src="~/AureliaApp/config.js"></script>
    <script>
        System.import('aurelia-bootstrapper');
    </script>
</body>
</html>