@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Aurelia Knowabunga</title>
</head>
<body aurelia-app>

    <script src="~/AureliaApp/jspm_packages/system.js"></script>
    <script src="~/AureliaApp/config.js"></script>
    <script>
        System.import('aurelia-bootstrapper');
    </script>
</body>
</html>